body{
	border : 2px solid red ;
	width : 600px ;
	height : 500px;
	margin : 0 auto ; /*body auto center*/
	
	font-size : 12px ;
}

.div1{
	background-color : silver ;
	width : 70px ;
	height : 90px ;
	border :1px solid gray ;
	/*border-bottom : 1px solid blue ;*/
	margin : 5px 0px 0px 220px ;
}

.div1 img{
	width : 60px ;
	height : 60px ;
	margin : 5px 0px 3px 5px ;
}
.div1 a{
	margin-left: 10px ;
}
